<header class="header">
  <div class="header-container">
    <div class="logo">LOGO</div>
    <nav class="desktop-nav">
      <a routerLink="Home">Home</a>
      <a routerLink="/echart-demo">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </nav>
    <div class="button-container">
      <button class="cta-button" routerLink="/echart-demo">Get Started</button>
      <button class="hamburger" id="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <a routerLink="Home">Home</a>
    <a routerLink="/echart-demo">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
    <button class="mobile-cta-button" routerLink="/echart-demo">
      Get Started
    </button>
  </div>
</header>

<main>
  <div style="padding-top: 150px; text-align: center">
    something is better then nothing


    difjoiausoif
    <app-database-preview></app-database-preview>
    <router-outlet></router-outlet>
  </div>
</main>