<div class="container">
  <h1 class="text-center">ECharts Demo</h1>
  <div class="row text-center">
    <div class="col-md-12">
      <h2>Data from API</h2>
      <pre>{{ dataVisible | json }}</pre>
    </div>


    <div class="row">
      <div class="">
        <div echarts [options]="chartOption" class="chart mb-4"></div>
      </div>
      <div class="">
        <div echarts [options]="pieChartOption" class="chart mb-4"></div>
      </div>
      <div class="">
        <div echarts [options]="barChart" class="chart mb-4"></div>
      </div>
      <div class="">
        <div
          echarts
          [options]="radialPolarBarLabelPosition"
          class="chart mb-4"
        ></div>
      </div>
      <div class="">
        <div
          echarts
          [options]="clickZoom"
          class="chart mb-4"
          (chartInit)="onChartInit($event)"
        ></div>
      </div>
      <div style="height: 700px;">
        <div  style="height: 700px;" echarts [options]="newChart" class="chart mb-4"></div>
      </div>
      <div class="">
        <div echarts [options]="sunburstChartOption" class="chart mb-4"></div>
      </div>
      <app-chart-js-file></app-chart-js-file>
      <app-high-charts></app-high-charts>
      <app-bar-high-chart></app-bar-high-chart>
    </div>
  </div>
</div>
