<div class="container">
  <div class="row my-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chart Overview</h5>
          <p class="card-text">
            This page demonstrates ECharts integration with Angular. Click "Get
            Data" to fetch and visualize data from the API.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Features</h5>
          <ul class="card-text">
            <li>Fetch data from API</li>
            <li>Display data as JSON</li>
            <li>Interactive chart rendering</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instructions</h5>
          <p class="card-text">
            Use the buttons below to load or close the data. The chart will
            update automatically.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <button class="mobile-cta-button" routerLink="/echart-demo">Get Started</button>
</div>
